<%- include header/header.ejs %>

<body>
   <%- include header/left_panel.ejs %>
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <%- include header/top_nav.ejs %>
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                  <% for(var i=0; i < battery.length; i++){ %>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <!--<div class="stat-icon dib flat-color-1">
                                        <i class="pe-7s-cash"></i>
                                    </div>-->
                                    <div class="">
                                        <div class="text-left dib">
                                          <%
                                          var per = (battery[i].Current_power/battery[i].Storage) * 100;
                                          %>
                                            <div class="stat-text"> <span class="count"><%= per %></span>%</div>
                                            <div class="stat-heading"><span class="box-title"><%= battery[i].model_no %></span></div>
                                            <div class="stat-heading"><span class="box-title">Total Storage : </span> <%= battery[i].Storage %> KwH</div>
                                            <!-- Current Power To be done in AJAX form in the future -->
                                            <div class="stat-heading"><span class="box-title">Current Power : </span> <%= battery[i].Current_power %> KwH</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <!--<div class="stat-icon dib flat-color-2">
                                        <i class="pe-7s-cart"></i>
                                    </div>-->
                                    <div class="">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"><%= sellers.length %></span></div>
                                            <div class="stat-heading">No of power sellers in grid</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Widgets -->

                <div class="clearfix"></div>
                <!-- Orders -->
                <div class="orders">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="box-title">House sellers </h4>
                                </div>
                                <div class="card-body--">
                                    <div class="table-stats order-table ov-h">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th class="serial">#</th>
                                                    <th>Sellers</th>
                                                    <th>Cost per KwH</th>
                                                    <th>Kwh avaliable</th>
                                                    <th>Buy</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < sellers.length; i++){ %>
                                                <tr>
                                                    <td class="serial"><%= i+1 %></td>
                                                    <td id="<%= i+1 %>name"> <%= sellers[i].name %> </td>
                                                    <td id="<%= i+1 %>Cost_per_KwH"> <%= sellers[i].Cost_per_KwH %> $</td>
                                                    <td id="<%= i+1 %>Total_KwH"> <%= sellers[i].Total_KwH %></td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#largeModal" onclick="buy(<%=i %>)">Buy</button>
                                                    </td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div> <!-- /.table-stats -->
                                </div>
                            </div> <!-- /.card -->
                        </div>  <!-- /.col-lg-8 -->

                        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="largeModalLabel">Buy Power</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="card">
                                          <div class="card-body card-block">
                                            <form method="POST" action="/buy">
                                            <!-- Hidden input to store user id from session -->
                                              <input type="hidden" id="seller_id" name="Seller_id" value="" class="form-control"/>
                                              <input type="hidden" id="sell_id" name="Sell_id" value="" class="form-control"/>
                                              <input type="hidden" id="KwH_amt_ava" name="KwH_amt_ava" value="" class="form-control"/>
                                              <div class="form-group"><label for="Kwh" class=" form-control-label">Amount in KwH</label><input type="text" id="Amt_KwH_modal" name="Amt_KwH" placeholder="Enter in KwH" class="form-control" onkeyup="total_cost()"></div>
                                              <div class="form-group"><label for="Cost" class=" form-control-label">Cost per KwH</label><input type="text" id="Cost_per_KwH_modal" name="Cost_per_KwH" placeholder="ex: 0.50" class="form-control" value="0" readonly></div>
                                              <div class="form-group"><label for="Total_cost" class=" form-control-label">Total_cost</label><input type="text" id="Total_cost" placeholder="ex: 0.50" class="form-control" value="0" readonly></div>
                                              <button type="submit" class="btn btn-success">Buy</button>
                                             </form>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4">
                            <div class="row">
                                <div class="col-lg-6 col-xl-12">
                                  <div class="card">
                                      <div class="card-body">
                                          <div class="mx-auto d-block">
                                              <img class=" mx-auto d-block" src="https://www.dubaiapprovals.com/wp-content/uploads/2018/11/dewa-960x675.png" alt="Card image cap">
                                              <h5 class="text-sm-center mt-2 mb-1">Buy From Government(Future Concept)</h5>
                                              <div class="location text-sm-center"><i class="fa fa-map-marker"></i> Dubai , UAE</div>
                                          </div>
                                          <hr>
                                          <div class="card-text text-sm-center">
                                              <h2>$1 per KwH</h2>
                                          </div>
                                      </div>
                                      <!--<button type="button" class="btn btn-success btn-lg active" data-toggle="modal" data-target="#largeModal">Buy</button>-->
                                  </div>
                                </div>
                            </div>
                        </div> <!-- /.col-md-4 -->
                    </div>
                </div>
                <!-- /.orders -->
                <!-- To Do and Live Chat -->
                <div class="row">
                    <div class="col-lg-6">
                      <div class="card">
                          <div class="card-header"><strong>Sell</strong><small> Energy</small></div>
                          <div class="card-body card-block">
                            <form method="POST" action="/sell">

                              <div class="form-group"><label for="Kwh" class=" form-control-label">Amount in KwH</label><input type="text" id="Amt_KwH" name="Amt_KwH" placeholder="ex: 50 in KwH" class="form-control"></div>
                              <div class="form-group"><label for="Cost" class=" form-control-label">Cost per KwH</label><input type="text" id="Cost_per_KwH" name="Cost_per_KwH" placeholder="ex: 0.50 in $" class="form-control"></div>
                              <div class="row form-group">
                                <div class="col col-md-3"><label for="select" class=" form-control-label">Select Battery</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="select_battery" id="select" class="form-control">
                                      <% for(var i = 0; i < battery.length; i++){ %>
                                        <option value="<%= battery[i].model_no%>"><%= battery[i].model_no%></option>
                                      <% } %>
                                    </select>
                                </div>
                              </div>
                              <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                                  <span id="payment-button-amount">Sell</span>
                                  <span id="payment-button-sending" style="display:none;">Sending…</span>
                              </button>
                            </form>
                          </div>
                      </div>
                    </div>

                    <div class="col-lg-6">

                    </div>
                </div>
                <!-- -->
                <div class="row">
                    <div class="col-md-12 col-lg-4">

                    </div>

                    <div class="col-lg-4 col-md-6">

                    </div>
                    <div class="col-lg-4 col-md-6">

                    </div>
                </div>

            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
          <%- include footer/credentials.ejs %>
    </div>
    <!-- /#right-panel -->
    <!-- Local Script-->
    <script>

    //Sellers POST JSON converted to client side JS
    var sellers =<%-JSON.stringify(sellers)%>
    //Function to transfer data to model
     function buy(id){
       document.getElementById("Cost_per_KwH_modal").value = sellers[id].Cost_per_KwH;
       document.getElementById("seller_id").value = sellers[id].seller_id;
       document.getElementById("sell_id").value = sellers[id].sell_id;
       document.getElementById("KwH_amt_ava").value = sellers[id].Total_KwH;

       //Sets the default buy and sell to zero every time a new modal is open
      // if always default set to zero (document.getElementById("Amt_KwH_modal").value = 0;)
       total_cost();
     }

    // Finds total by getting Cost per KwH and Amount per KwH
     function total_cost(){
      var total = document.getElementById("Cost_per_KwH_modal").value * document.getElementById("Amt_KwH_modal").value;
      //rounds of to 2 decimal places
      total = Math.round(total * 100)/100;
      var Amt_KwH_modal = document.getElementById("Amt_KwH_modal").value;
      var KwH_amt_ava = document.getElementById("KwH_amt_ava").value;

      //converts both variables to number type
      if(Number(Amt_KwH_modal) > Number(KwH_amt_ava)){
       document.getElementById("Total_cost").value = "Cannot order more than "+ KwH_amt_ava + " KwH";
      }
      else{
      document.getElementById("Total_cost").value = total;
      }
     }
    </script>

<%- include footer/footer.ejs %>
