<%- include header/header.ejs %>

<body>
   <%- include header/left_panel.ejs %>
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <%- include header/top_nav.ejs %>
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">

                <div class="clearfix"></div>
                <!-- Orders -->
                <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body" id="latest_stat">



                            </div> <!-- /.card-body -->
                        </div>
                    </div>
                <!-- /.orders -->
                <!-- To Do and Live Chat -->


            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
          <%- include footer/credentials.ejs %>
    </div>
    <!-- /#right-panel -->
    <!-- Local Javascript -->
    <script>

        setInterval(function(){
            $.ajax({ url: "/current_transactions", success: function(data){

              $("#latest_stat").html("");

             console.log(data.length);

              if(data.length == 1 && data[0] == null || data.length == 0){
              $("#latest_stat").append("<h3>No Current Transactions left</h3>");
              }

             else{
             for(var i = 0; i < data.length; i++){

               $("#latest_stat").append(`<div class="progress-box progress-1">
                     <h4 class="por-title"></h4>
                     <div class="por-txt">`+data[i].current_transfer+`/`+data[i].No_of_KwH+` KwH (`+data[i].percentage+`%)</div>
                     <h1>`+data[i].time_left+`</h1>
                     <p>hours left</p>
                     <div class="progress mb-2" style="height: 7px;">
                         <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: `+data[i].percentage+`%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                 </div>`);
             }
           }
            }, dataType: "json"});
         }, 1000);



    </script>

<%- include footer/footer.ejs %>
